#navbars {
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  -webkit-filter: drop-shadow(0px 0px 4px #000);
  font-size: 3em;
  cursor: pointer;
  padding-left: 20px;
  color: #fff;
  transition: 0.3s;
  display:block;
  opacity: 0.8;
}

#logo {
  opacity: 1;
  height: 100%;
  /*-webkit-filter: drop-shadow(0px 0px 5px #fff);*/
}

#footer {
  padding-top: 30px;
}

#footer .copyright {
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

footer .socialicon {
  width: 64px;
  height: 64px;
  drop-shadow: 0px 0px 3px #fff;
  opacity: 1;
}

.whiteboxed {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: rgba(0,149,116, 0.0);
  drop-shadow: 0px 0px 0px #000;
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  text-shadow: 0px 0px 0px #000;
}

.blackboxed {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  drop-shadow: 0px 0px 0px #000;
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  text-shadow: 0px 0px 0px #000;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgba(0,149,116, 0.95);
  text-decoration: none;
}

a:hover {
  color: #818181;
  text-decoration: underline;
}

.ESA {
  position: fixed;
  width: 70%; /* Set your desired with */
  z-index: 2; /* Make sure its above other items. */
  height: 50%;
  top: 30%;
  left: 50%;
  margin-top: 0%; /* Changes with height. */
  margin-left: -35%; /* Your width divided by 2. */
  /* You will not need the below, its only for styling   purposes. */
  padding: 10px;
  text-align: right;
}

#main-content {
  position: fixed;
  width: 70%; /* Set your desired with */
  z-index: 2; /* Make sure its above other items. */
  height: 75%;
  top: 30%;
  left: 50%;
  margin-top: -10%; /* Changes with height. */
  margin-left: -35%; /* Your width divided by 2. */
  /* You will not need the below, its only for styling   purposes. */
  padding: 10px;
  text-align: center;
}

.subcontent {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.80);
  border-radius: 5px;
  overflow:auto;
}

.subcontent h1 {
  font-family: 'Oswald', sans-serif;
  padding-top: 10px;
  color: black;
  -webkit-filter: drop-shadow(3px 3px 10px #FFF);
  text-shadow: 0px 0px 6px #FFF;
  font-size: 4em;
  border-bottom: rgba(0,255,255,0.90);
}

.subcontent .innercontent{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #000;
  font-size: 1.15em;
  -webkit-filter: drop-shadow(3px 3px 10px #FFF);
  text-shadow: 0px 0px 6px #FFF;
}

.sidenav {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.93);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  opacity: 0.8;
}

.sidenav a.blocked{
  padding: 10px 0px 0px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.2s;
}




.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.padleft {
  padding-left: 20px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
}
.sidenav .sbs {
  text-decoration: none;
  font-size: 26px;
  transition: 0.2s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a.blocked{
    font-size: 18px;
  }
}

/* Initially hide all section divs */
#about, #initiatives, #eboard, #partners, #members, #newsletter, #contact, .grid{
  display: none;
}

/* Loading screen settings */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('') no-repeat center center #000; /* Could add ESA logo if we want */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
}

.grid strong {
  font-weight: bold;
}

.grid em {
  padding-bottom:  10px;
}

.grid h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

.grid h2 {
  margin:  0 0 10px;
  margin-bottom:  1px;
}

.grid div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  padding: 15px;
}

.grid a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 50em) {
  .grid a {
    width: calc(25% - 6px);
  }
}

#none a:hover img {
  transform: scale(1.06) rotate(-1deg);
  -ms-transform: scale(1.06) rotate(-1deg); /* IE 9 */
  -webkit-transform: scale(1.06) rotate(-1deg); /* Chrome, Safari, Opera */
}

.grid figure {
  margin: 0;
  overflow: hidden;
}

.grid figcaption {
  margin-top: 3px;
  text-align: left;
  z-index: 10;
}

.grid h2 {
  z-index: 100;
}

.partimg {
   border-radius: 15px;
   width: 50%;
   height: auto;
 }

#members figcaption {
  text-align: center;
  padding-bottom: 13px;
}

.grid img {
  z-index: -1;
  border: none;
  max-width: 100%;
  max-height: 25%;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.grid .p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.grid .p {
  text-align: center;
  font-size: 1.1em;
  padding-top: 100px;
}

.form-style-4{
    width: 65%;
    font-size: 1em;
    background: rgba(0,149,116,0.80);
    padding: 30px 30px 15px 30px;
    border-radius: 5px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-size: 0.95em;
    color: #fff;
    -webkit-filter: drop-shadow(0px 0px 0px #000);
    text-shadow: 0px 0px 0px #000;
}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #fff;
    width: 55%;
    outline: none;
    padding: 0px 0px 0px 0px;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #fff;
    width: 55%;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed rgba(255,255,255, 0.70);
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: rgba(255,255,255, 1);
    color: #009574;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: rgba(255,255,255, 0.70);
}

/*newsletter*/
.entry-content p {
    margin: 0;
    padding: 0;
}
/*end newsletter */

/*Begin partners*/

/*  SECTIONS  */
#partners a{
}

#partners a h3 {
  font-weight: bold;
}

.section {
  clear: both;
  padding: 20px;
  margin: 30px;
  background-color: rgba(0,149,116,0.1);
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 45.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}
/*end partners*/
